
.startPage, .wonPage{
    background-image: url(./images/ocean.jpg);
    background-repeat: none;
    background-size: cover;
    height: 320px;
    color: white;
    text-align: center;
    padding: 200px;
}

button {
    background-color: green;
    color: white;
    border: 1px solid yellow;
    height: 50px;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;

}

button:hover {background-color: #0b330c}
