* {
    font-family: 'Irish Grover', cursive;
}



.startPage, .wonPage{
    background-image: url(./images/ocean.jpg);
    background-repeat: none;
    background-size: cover;
    height: 320px;
    color: white;
    text-align: center;
    padding: 200px;
}

.buttons {
    background-color: green;
    color: white;
    border: 1px solid yellow;
    height: 50px;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;

}

.buttons:hover {background-color: #0b330c}


.highScore {
    list-style: none;
}


canvas {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 0px;
    left: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border: 2px solid #00000080;
    box-shadow: 2px 2px 20px black;
  }
