* {
    margin: 0;
    padding: 0;
    font-family: 'Irish Grover', cursive;
    box-sizing: border-box;
}

/* canvas {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 0px;
    left: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border: 2px solid #00000080;
    box-shadow: 2px 2px 20px black;
  } */

section {
    height: 110vh;
    background-image: url("./Images/pngegg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}


main {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main p {
    padding-left: 80px;
    width: 700px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    color: white;
}

.instruction {
    padding-left: 80px;
    width: 700px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    color: white;
}

main button {
    margin-left: 40px;
    width: 250px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
} 

main button:hover {
    transform: translateY(5px);
    transition: 0.2s;
}





.highScore {
    list-style: none;
    font-family: 'Irish Grover', cursive;
}
